<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />
    <title>인천관광공사 사원 현황판</title>
    <link rel="icon" href="../img/id-badge-regular.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script type="text/javascript" src="../create_conv.js"></script>
</head>
<body>
    <div id="container">
        <%-include('background.ejs') %>
        <div class="top_banner">
           <img src="img\logoFile.png" id="logo-img" style="padding: 10px;">
           <div class="right-banner">
                <div class="btn-detail">
                    <!-- 버튼 관련 설명 (초록색 : 근무 중, 파란색 : 재택근무 중, 연차 : ) -->
                    <div class="buttonClass">
                        <div class="btn-blue rounded-circle border" style="width:25px; height:25px; display:inline-block"></div>
                        <span class="circle-span">재택근무</span>
                    </div>
                    <div class="buttonClass">
                        <div class="btn-green rounded-circle border" style="width:25px; height:25px; display:inline-block"></div>
                        <span class="circle-span">근무 중</span>
                    </div>
                    <div class="buttonClass">
                        <div class="btn-red rounded-circle border" style="width:25px; height:25px; display:inline-block"></div>
                        <span class="circle-span" style="display: block;">휴무</span>
                    </div>
                    <div class="buttonClass">
                        <div class="btn-yellow rounded-circle border" style="width:25px; height:25px; display:inline-block"></div>
                        <span class="circle-span">출장 및 교육</span>
                    </div>
                </div>
                <!-- 16F/17f/수정 버튼그룹 -->
                <!-- 17F, edit 버튼 disable 설정 -->
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-16 btn-outline-secondary" onclick="location.href='/'">16F</button>
                    <button type="button" class="btn btn-17 btn-outline-secondary " onclick="location.href='/17F'">17F</button>
                    <button type="button" class="btn btn-17 btn-outline-secondary " onclick="location.href='/conv'">컨벤시아</button>
                    <button type="button" class="btn btn-edit btn-outline-secondary " onclick="login()">수정</button>
                </div>
           </div>
        </div>
        
        <div class="main">
                <!-- 실 div -->
                <div class="office">
                        <% var office = ['송도컨벤시아사업단'] %> 
                        <% for(var off=0; off<office.length;off++){%>
                            <% const new_list = list.filter(function(element){%>
                                <% return element.dept_name == office[off] %>
                            <%})  %>
                            <div class="header fw-bold ">
                                <span class="office-name fs-4"><%= office[off] %></span>
                                <span class="office-head" id=<%= new_list[0].emp_id %> > <%= new_list[0].emp_name %> <%= new_list[0].duty_name %> </span>
                            </div>
                        <%}%>
                </div> 
                <!-- dept div -->
                <div class="dept-container">
                    <!-- 부서 table -->
                    <% var dept_info={'컨벤션마케팅팀':2,'전시사업팀':2,'전시마케팅팀':2,'운영팀':3}; %>
                    <% for(var dept=0;dept<Object.keys(dept_info).length;dept++){ %> 
                        <div class="department fs-5 fw-bold " >
                            <span class="dept-name"><%= Object.keys(dept_info)[dept] %></span>
                            <div class="dept-table p-2" id="">
                                 <div class="row " id="team-row" >
                                     <!-- 팀장 row -->
                                        <% for(var i=0;i<list.length;i++){ %>
                                        <% if(list[i].dept_name== Object.keys(dept_info)[dept] && list[i].duty_name=="팀장"){ %>
                                            <div class="border bg-light cell mr-0" id="team-0" style="position:relative" >
                                                <span class="position-absolute btn-green translate-middle p-2 border border-light rounded-circle btn-l-<%=Object.values(dept_info)[dept]%>" id="" >
                                                </span>
                                                <% if(list[i].seat_arrng==0){%>
                                                    <img src="<%= list[i].img_url %>" onerror="this.src='img/NoImage.jpeg'" class="mem-img">
                                                    </div>
                                                    <div class="memInfo" style="position: relative;" id="team-leader">
                                                        <span class="memName fs-6" id="<%= list[i].emp_id %>"><%= list[i].emp_name %></span>
                                                        <span class="memPos fs-6" ><%= list[i].duty_name %> </span>
                                                    </div>
                                                <%}else{ %>
                                                </div>
                                                <div class="memInfo" style="position: relative;" id="team-leader"></div>
                                                   
                                                <%} %>
                                             <%}%>
                                        <%}%>
                     
                                 </div>
                                 <div class="row " id="mem-row" style="float: none; margin:100 auto;">
                                     <!-- 사원  row -->
                                    <% for(var i=0;i<4;i++){%>
                                        <% for(var j=0;j<Object.values(dept_info)[dept];j++){%>
                                                <% var col = Object.values(dept_info)[dept] %>
                                                <div class="col-<%= 12/col %> text-center mem" id="<%= i*col+j+1 %>" style="float: none; margin:100 auto;">
                                                    <div class="border bg-light cell mr-0" style="position:relative" >
                                                        <span class="position-absolute translate-middle p-2 btn-green border border-light rounded-circle"  id="status">
                                                        </span>
                                                        <% for(var m=0;m<list.length;m++){%>
                                                        <% var num = i*col+j+1  %>   
                                                        <%   if(list[m].dept_name==Object.keys(dept_info)[dept] && list[m].seat_arrng==num){%>
                                                            <img src="<%= list[m].img_url %>" onerror="this.src='img/NoImage.jpeg'" class="mem-img" style="position:relative">
                                                            <%}%>
                                                        <%}%>
                                                    </div>
                                                    <div class="memInfo"  style="position: relative;">
                                                        
                                                        <% for(var k=0;k<list.length;k++){%>
                                                        <% var num = i*col+j+1  %>   
                                                        <%   if(list[k].dept_name==Object.keys(dept_info)[dept] && list[k].seat_arrng==num){%>
                                                            <span class="memName fs-6" id = "<%= list[k].emp_id %>"><%= list[k].emp_name %></span>
                                                            <span class="memPos fs-6"><%= list[k].post_name %></span>
                                                        <%}%>
                                                        <%}%>
                           
                                                    </div>
                                                </div>
                                            <%}%>
                                       <% }%>
                            
                                </div>
                            </div>
                        </div>
                    <%} %>
        </div>
    </div>
</body>
</html>