<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />
    <title>인천관광공사 직원 현황판</title>
    <link rel="icon" href="../../img/id-badge-regular.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script type="text/javascript" src="../../js/16F/create.js"></script>
</head>
<body>
    <div id="container">
        <!-- 모달창 숨겨둠 -->
        <%-include('../background.ejs') %>
        <!-- 로고, 4가지 상태버튼, 페이지 이동 버튼 있는 banner -->
        <div class="top_banner">
           <img src="../../img/logoFile.png" id="logo-img" style="padding: 10px;">
           <div class="right-banner">
                <div class="btn-detail">
                    <!-- 버튼 관련 설명 (초록색 : 근무 중, 파란색 : 재택근무 중, 빨간색 : 휴무, 노란색 : 출장 및 교육) -->
                    <div class="buttonClass">
                        <div class="btn-blue rounded-circle border" style="width:25px; height:25px; display:inline-block"></div>
                        <span class="circle-span">재택근무</span>
                    </div>
                    <div class="buttonClass">
                        <div class="btn-green rounded-circle border" style="width:25px; height:25px; display:inline-block"></div>
                        <span class="circle-span">근무 중</span>
                    </div>
                    <div class="buttonClass">
                        <div class="btn-red rounded-circle border" style="width:25px; height:25px; display:inline-block"></div>
                        <span class="circle-span" style="display: block;">휴무</span>
                    </div>
                    <div class="buttonClass">
                        <div class="btn-yellow rounded-circle border" style="width:25px; height:25px; display:inline-block"></div>
                        <span class="circle-span">출장 및 교육</span>
                    </div>
                </div>
                <!-- 16F/17F/수정 버튼그룹 -->
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-16 btn-outline-secondary" onclick="location.href='/'">16F</button>
                    <button type="button" class="btn btn-17 btn-outline-secondary " onclick="location.href='/17F'">17F</button>
                    <button type="button" class="btn btn-17 btn-outline-secondary " onclick="location.href='/conv'">컨벤시아</button>
                    <button type="button" class="btn btn-edit btn-outline-secondary " onclick="login()">수정</button>
                </div>
           </div>
        </div>
        
        <div class="main">
                <!-- 실 div -->
                <!-- [list]는 서버에서 보내주는 전직원 정보 , 각 실에 해당하는 정보만 추출하여 표출-->
                <div class="office">
                        <% var office = ['관광마케팅실','기획조정실'] %> 
                        <% for(var off=0; off<office.length;off++){%>
                            <% const new_list = list.filter(function(element){%>
                                <% return element.dept_name == office[off] %>
                            <%})  %>
                            <div class="header fw-bold ">
                                <span class="office-name fs-4"><%= office[off] %></span>
                                <span class="office-head" id=<%= new_list[0].emp_id %> > <%= new_list[0].emp_name %> <%= new_list[0].duty_name %> </span>
                            </div>
                        <%}%>
                </div> 
                <!-- dept div -->
                <div class="dept-container">
                    <!-- 부서 table -->
                    <% var dept_info={'해외마케팅팀':2,'국내관광팀':2,'스마트관광팀':3,'MICE뷰로':2,'고객홍보팀':2,'전략기획팀':2,'경영지원팀':4}; %>
                    <% for(var dept=0;dept<Object.keys(dept_info).length;dept++){ %> 
                        <div class="department fs-5 fw-bold " >
                            <span class="dept-name"><%= Object.keys(dept_info)[dept] %></span>
                            <div class="dept-table p-2">
                                 <div class="row " id="team-row" >
                                     <!-- 팀장 row -->
                                     <!-- 서버가 보내준 전직원 정보 [list]에서 해당 팀의 팀장을 찾아서 표출 -->
                                     <!-- 팀장의 seat_arrng는 0이어야 함. 아니라면 표출 X -->
                                        <% for(var i=0;i<list.length;i++){ %>
                                        <% if(list[i].dept_name== Object.keys(dept_info)[dept] && list[i].duty_name=="팀장"){ %>
                                            <div class="border bg-light cell mr-0" id="team-0" style="position:relative" >
                                                <span class="position-absolute btn-green translate-middle p-2 border border-light rounded-circle btn-l-<%=Object.values(dept_info)[dept]%>"  >
                                                </span>
                                                <% if(list[i].seat_arrng==0){%>
                                                    <img src="<%= list[i].img_url %>" onerror="this.src='../../img/NoImage.jpeg'" class="mem-img">
                                                    </div>
                                                    <div class="memInfo" style="position: relative;" id="team-leader">
                                                        <span class="memName fs-6" id="<%= list[i].emp_id %>"><%= list[i].emp_name %></span>
                                                        <span class="memPos fs-6" ><%= list[i].duty_name %> </span>
                                                    </div>
                                                <%}else{ %>
                                                </div>
                                                <div class="memInfo" style="position: relative;" id="team-leader"></div>
                                                   
                                                <%} %>
                                             <%}%>
                                        <%}%>
                     
                                 </div>
                                 <div class="row " id="mem-row" style="float: none; margin:100 auto;">
                                    <!-- 사원  row -->
                                    <!-- !! for문에서 i를 4번 돌리는 이유 : 최대 행을 (가로 줄) 4로 설정했기 때문. 가로줄 갯수를 바꾸고 싶으면 '4'-> 다른숫자로 바꾸면 됨 -->
                                    <!-- Object.values(dept_info)[dept] : 각 팀의 열(세로 줄) 수  -->
                                    <!-- col-12 : 한 칸 전체, col-6 : 2등분, col-4 : 3등분 , 따라서 만약 팀의 열 수 = 2 라면, col-(12/2) 가 되어야 함 ... -->
                                    <!-- class mem의 id : 자리 번호(seat_arrng)=>전직원 정보에서 해당 팀의 직원을 불러오는데, 그 중 seat_arrng가 cell의 id와 같으면 표출해줌.  -->
                                    <!-- 16층 ejs 이므로, 비서실 직원은 표출하면 안됨. 따라서 roll_info(업무 분담)에 '비서실'을 포함하고 있으면 제외시킴 -->
                                    <!-- class memInfo(이름,직급)를 표출할 때, 매니저님과 대외협력관님은 예외처리한 후 표출 -->
                                     <% for(var i=0;i<4;i++){%>
                                        <% for(var j=0;j<Object.values(dept_info)[dept];j++){%>
                                                <% var col = Object.values(dept_info)[dept] %>
                                                <div class="col-<%= 12/col %> text-center mem" id="<%= i*col+j+1 %>" style="float: none; margin:100 auto;">
                                                    <div class="border bg-light cell mr-0" style="position:relative" >
                                                        <span class="position-absolute translate-middle p-2 btn-green border border-light rounded-circle"  id="status">
                                                        </span>
                                                        <% for(var m=0;m<list.length;m++){%>
                                                        <% var num = i*col+j+1  %>   
                                                        <%   if(list[m].dept_name==Object.keys(dept_info)[dept] && list[m].seat_arrng==num &&(!list[m].roll_info.includes('비서실'))){%>
                                                            <img src="<%= list[m].img_url %>" onerror="this.src='../../img/NoImage.jpeg'" class="mem-img" style="position:relative">
                                                            <%}%>
                                                        <%}%>
                                                    </div>
                                                    <div class="memInfo"  style="position: relative;">
                                                        <% for(var k=0;k<list.length;k++){%>
                                                        <% var num = i*col+j+1  %>   
                                                        <%   if(list[k].dept_name==Object.keys(dept_info)[dept] && list[k].seat_arrng==num && (!list[k].roll_info.includes('비서실'))){%>
                                                            <span class="memName fs-6" id = "<%= list[k].emp_id %>"><%= list[k].emp_name %></span>
                                                                <% if(list[k].emp_id=='20214012'){%>
                                                                    <span class="memPos fs-6">매니저</span>
                                                                <% }else if(list[k].emp_id=='20214015'){%>
                                                                    <span class="memPos fs-6">대외협력관</span>
                                                                <% } else{ %>
                                                                    <span class="memPos fs-6"><%= list[k].post_name %></span>
                                                                <% } %> 
                                                            
                                                        <%}%>
                                                             
                                                        <%}%>
                           
                                                    </div>
                                                </div>
                                            <%}%>
                                       <% }%>
                            
                                </div>
                            </div>
                        </div>
                    <%} %>
        </div>

        
    </div>
    <div class="footer">
        <div>문의 사항 &nbsp;|&nbsp;&nbsp; 박소현 ( 032-899-7459 ) 또는 김솔민 ( 032-899-7343 ) </div>
    </div>
</body>
</html>